<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>785522057.268357</string>
					<key>XcodeLocation</key>
					<string>{"Selection":{"Editor":"Xcode3TargetEditor","Target":"Crays","Xcode3BuildPhasesEditorLocations":[{"fe5e16366cd717a1e446a80ac7e69c8fc324a8d816e35869548fcdb12be3a5cf":[["ed31fd7b32b66dbf33f3df547594248e"]]}],"Xcode3TargetEditorLocations":[{"Selected Build Files":[["ed31fd7b32b66dbf33f3df547594248e"]]}]}}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Crays.xcodeproj</string>
					</dict>
				</dict>
				<key>type</key>
				<string>Xcode3ProjectDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Error: Missing package product 'Down'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
